:root {
    --input-color: #99A3BA;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;

    --input-button: #99BAA3;
    --input-button-focus: #27D05E;
    --input-button-active: #12A02E;

    --error: #d01d1d;
}

html * {
    font-family: "Inconsolata", monospace;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.titleBar {
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    background-color: var(--group-border-focus);
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.whiteText {
    color: white;
}

.addInputForm {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 0;
    margin-bottom: 10px;
}

.linkInput {
    flex-grow: 1;
    margin-right: 10px;
    color: black;
    border-radius: 1px;
    box-shadow: none;
    border: 1px solid black;
}

.errorCard {
    background-color: var(--error);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 6px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding-top: 6px;
    padding-bottom: 6px;
}

.errorText {
    color: white;
    font-weight: bold;
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    min-width: 380px;
    max-width: 380px;
}

.url-input-form-field {
    padding: 4px 8px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 500;
    -webkit-appearance: none;

    flex-grow: 1;
    border: 1px solid var(--input-border);
    border-radius: 0;
}

.url-input-form-group {
    flex-grow: 1;
    display: flex;
}

.addWebsiteSubmit {
    color: white !important;
    background-color: var(--input-button-focus);
    font-weight: bold;
    border: none;
    border-radius: 0 6px 6px 0;
    padding-left: 20px;
    padding-right: 20px;
    /*transition: background 250ms ease-in-out,*/
    /*transform 150ms ease;*/
}

.url-input-form-field:focus {
    border-color: var(--input-border-focus);
}

.url-input-form-group > span, .url-input-form-group > span, .url-input-form-group .url-input-form-field {
    white-space: nowrap;
    display: block;
}

.url-input-form-group > span:first-child, .url-input-form-group .url-input-form-field:first-child {
    border-radius: 6px 0 0 6px;
}

.url-input-form-group > span:last-child, .url-input-form-group .url-input-form-field:last-child {
    border-radius: 0 6px 6px 0;
}

.url-input-form-group > span:not(:first-child), .url-input-form-group {
    margin-left: -1px;
}

.url-input-form-group > span {
    text-align: center;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
    padding: 4px 6px 0;
}

.url-input-form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}

.url-input-form-group:focus-within > input {
    border-color: var(--group-border-focus);
}

.url-input-form-group:focus-within > button {
    border: 1px solid black;
    border-left: none;
}

.addWebsiteSubmit:active {
    background-color: var(--input-button-active);
}