@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
  background-color: #7d90c0;
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: lobster;
  color: #f0f0f0;
  text-shadow: 1px 1px black;
  text-align: center;
}

.fill {
  flex-grow: 1;
}

.centerText {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  transition: height 0.3s ease-out;
}

.insultText {
  font-size: xxx-large;
  font-weight: 400;
  max-width: 80%;
}

.reloadText {
  font-size: x-large;
}

.reloadButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  height: 64px;
  width: 64px;
}

.smallImage {
  height: 100%;
  width: 100%;
}

.githubIcon {
  height: 1em;
  width: 1em;
}
