@import url("https://fonts.googleapis.com/css?family=Lobster&display=swap");

body {
    background-color: #7d90c0;
}

.centerText {
    font-family: lobster;
    color: #f0f0f0;
    text-shadow: 1px 1px black;
    text-decoration: underline;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.insultText {
    font-size: xxx-large;
    font-weight: bold;
    max-width: 80%;
    text-align: center;
}
